<div >
    <h2>Login Form</h2>
    
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="imgcontainer">
        <img src="../../assets/img_avatar2.png" alt="Avatar" class="avatar">
      </div>
    
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username"  class="form-control" formControlName="name" required>
        <div
            *ngIf="f['name'].touched && f['name'].invalid && f['name'].errors && f['name'].errors['required']"
            class="error">
            User name is required.
          </div>
        
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" class="form-control" formControlName="Password" required>
        <div
            *ngIf="f['Password'].touched && f['Password'].invalid && f['Password'].errors && f['Password'].errors['required']"
            class="error">
            User password is required.</div>  
        <button type="submit" [disabled]="!userForm.valid" class="btn btn-outline-primary">Login<i
          *ngIf="isUpdating" class="fa fa-spinner fa-pulse fa-fw"></i></button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
    
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>

  </div>
