
<div class="container">
    <h1>Welcome to the FutureLink Supply Chain Management System</h1>
    <p>
        At FutureLink, we understand the critical role that efficient supply chain management plays in the success of your business. Our state-of-the-art Supply Chain Management System is designed to streamline your operations, enhance visibility, and optimize your supply chain processes. Whether you're a manufacturer, distributor, or retailer, our comprehensive platform is tailored to meet your unique needs.
    </p>
    <p>
        With our user-friendly interface and robust features, you can gain real-time insights into your supply chain, manage inventory, track shipments, and collaborate seamlessly with your partners. Our commitment to innovation and excellence ensures that you stay ahead in today's rapidly evolving business landscape.
    </p>
    <p>
        To get started, simply click the <a class="login-button" (click)="loginPage()">Login</a> button on navigation bar to access your account and begin experiencing the benefits of FutureLink's Supply Chain Management System. If you're new to FutureLink, don't hesitate to reach out to our dedicated support team for assistance. We look forward to helping you transform your supply chain for a brighter and more profitable future.
    </p>
</div>