.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:100% ;

  }
  
  .customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    
  }
  
  .customers tr:nth-child(even){background-color: #f2f2f2;}
  

  .customers tr.active {background-color: rgb(140, 188, 243);}

  
  
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #84b4eb;
    color: white;
  }
  .slimbody{
    padding-right: 5%;
    padding-left: 5%;
  }

.tools{
    height: 16px;
    width: 16px;
    padding-left: 5px;
}
.higlighted{
  background-color: rgb(68, 127, 255) !important;
}
.icon{
  margin: 3px;
  color: rgb(99,98,98);
  
}
.btn-xs{
  margin: 1px;
  border-radius: 3px;
}
.ProductHeader{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  color: coral;
  
}

.btn-outline-primary:hover{
border-color: #84b4eb !important;
background-color: rgb(72, 99, 255) !important;
}
.pHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.tableHead{
  padding-top: 30px;
  display: flex;
}

.tr-total{
  border-top: 2px double #000 !important;
}

.cart{
  border:1px #004a50 !important;
}